.header {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  background-color: cornflowerblue;
}

.header ul {
  display: flex;
  list-style: none;
}

.header ul li {
  margin-left: 1rem;
}

.header ul li a {
  color: #000;
  text-decoration: none;
}
